body {
  background-color:white;
}

h1{
  text-align: center;
  font-size: large;
  background-color: rgb(3, 3, 84);
  color: white;
  padding: 12px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
  background-color: white;
  padding-bottom: 20px;
  height: 155px;
  width: 99%;
  position: fixed;
  top: 0px;
}
nav ul{
  display: flex;
  justify-content:space-evenly;
}
nav img{
  border-radius: 200px;
 float: left;
}
.number{
  padding: 20px;
  margin: 20px;
  margin-left: 100px;
  background-color:rgb(6, 6, 75);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  border-radius: 5px;
  border-color: rgb(2, 2, 65);
}
.number:hover{
  border-color:rgb(39, 39, 240) ;
  background-color: rgb(39, 39, 240);
  transition: 0.4s;
}
nav ul li{
  display: inline-block;
  list-style: none;
  font-size: 20px;
  font-family:"Paytone One", sans-serif;
  font-weight: bolder;
  padding: 5px 7px;
  margin-top:40px;
}
nav ul li a{
  text-decoration: none;
}
.main{
  background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url(images/aboutty.jpg);
  background-size: cover;
  background-position: center;
  height: 150vh;
  margin-top: 175px;
}
 .main h2{
  margin-top: 0px;
  padding: 10px 0px;
  padding-top: 250px;
  padding-left:350px;
  font-family: "Paytone One", sans-serif;
  font-weight:900;
  font-style: normal;
  font-size: 60px;
  color: white;
}
.aboutpix{
  width: 700px;
  height: 700px;
  background-image: url(images/backgroungabout.jpg);
  background-position: cover;
}
.aboutpix img{
  margin: 25px;
}
.aboutext{
  margin-left: 60px;
}
.aboutext button{
  padding: 10px;
  width: 120px;
  font-weight: 1000;
  font-family: "Paytone One", sans-serif;
  color: rgb(6, 6, 107);
  background-color: whitesmoke;
  border-color: whitesmoke;
  border-radius: 10px;
}
.aboutext h2{
  font-family: "Paytone One", sans-serif;
  font-weight:900;
  font-size: 45px;
  color: rgb(1, 1, 77);
}
.aboutext p{
  color:#3f3e3e;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
}
.aboutall{
  display: flex;
  align-items: center;
}
.catabout{
  width: 1250px;
  height: 980px;
  margin-top: 10px;
  background-image: url(images/catabout.jpg);
  background-repeat: no-repeat;
  background-position: cover;
}
.text h2{
  margin-left: 40px;
  font-family: "Paytone One", sans-serif;
  font-weight:900;
  font-size: 50px;
  color: whitesmoke;
  border-color: navy;
}
.text p{
  margin-left: 30px;
  color: whitesmoke;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
}
.text ul{
  margin-left: 10px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 27px;
  color: whitesmoke;
}
.text h3{
  margin-left: 40px;
  font-size: 20px;
  font-family: "Paytone One", sans-serif;
  color: whitesmoke;
  border-color: navy;
}
.meet h2{
  text-align: center;
  font-family: "Paytone One", sans-serif;
  margin: 50px;
  font-size: 40px;
  font-weight: 900;
  color: rgb(1, 1, 77);
}
.doctors h2{
  font-family: "Paytone One", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: rgb(1, 1, 77);
}
.meet p{
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color: #424141;
}
.mike h3{
  font-family: "Paytone One", sans-serif;
  font-size:x-large;
  color: #424141;
}
.mike p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color:  rgb(1, 1, 77);
}
.pat h3{
  font-family: "Paytone One", sans-serif;
  font-size:x-large;
  color: #424141;
}
.pat p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color:  rgb(1, 1, 77);
}
.amaka h3{
  font-family: "Paytone One", sans-serif;
  font-size:x-large;
  color: #424141;
}
.amaka p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color:  rgb(1, 1, 77);
}
.team{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.techsec h2{
  font-family: "Paytone One", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: rgb(1, 1, 77);
}
.muller h3{
  font-family: "Paytone One", sans-serif;
  font-size:x-large;
  color: #424141;
}
.muller p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color:  rgb(1, 1, 77);
}
.maji h3{
  font-family: "Paytone One", sans-serif;
  font-size:x-large;
  color: #424141;
}
.maji p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color:  rgb(1, 1, 77);
}
.elohor h3{
  font-family: "Paytone One", sans-serif;
  font-size:x-large;
  color: #424141;
}
.elohor p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  color:  rgb(1, 1, 77);
}

.tech{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.archive{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Paytone One", sans-serif;
  color: whitesmoke;
  border-radius: 20px;
  margin-left: 57px;
  background-color: rgb(14, 14, 95);
  width: 92%;
  min-height: 25vh;
}
.archive h2{
  font-size: 35px;
}
.archive p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
footer{
  min-height: 400px;
  background-color: rgb(38, 38, 38);
}
.address{
  margin: 30px;
}
.address img{
  margin-top: 30px;
  border-radius: 150px;
}
.address .details {
  margin-left: 20px;
  color: whitesmoke;
}
.address address{
  margin-left: 20px;
  color: whitesmoke;
}
.fa-facebook {
  text-align: center;
  background-color:rgb(38, 38, 38);
  color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 100px;
  width: 25px;
  height: 20px;
  cursor: pointer;
}
.fa-facebook:hover{
  background-color: #3B5998;
}
.fa-twitter {
  text-align: center;
  background-color:rgb(38, 38, 38);
  color: white;
  padding: 10px;
  border-radius: 100px;
  width: 25px;
  height: 20px;
  cursor: pointer;
}
.fa-twitter:hover{
  background-color: #55ACEE;
}
.vida{
 display: flex;
 align-items: center;
 text-align: center;
}
.vida p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  font-weight: bold;
  color: whitesmoke;
  margin: 10px;
  margin-top: 50px;
}
.link{
  margin: 30px;
  margin-top: 100px;
}
.link h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  margin-left: 45px;
}
.link ul li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 4px;
  list-style: none;
}
.link ul li a{
  color: whitesmoke;
  text-decoration: none;
}
.link ul li a:hover{
  color: rgb(24, 24, 185);
}
.gallery{
  margin: 30px;
  margin-top: 100px;
}
.gallery h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}
.gallery img{
  border-radius: 10px;
  margin: 2px;
}
.time{
  margin: 30px;
  margin-top: 100px;
}
.time h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}
.time button{
  font-family: "Paytone One", sans-serif;
  font-size: large;
  color: whitesmoke;
  padding: 40px;
  width: 110%;
  border-radius: 10px;
  border-color: rgb(110, 104, 104);
  background-color:rgb(110, 104, 104);
}
.time p{
  color: whitesmoke;
}
hr{
  width: 90%;
  border: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.terms{
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}
.foot{
  display: flex;
}

  